@model WebBackLab1.Models.Post

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label><br>
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })<br>
            </div>
            <div class="form-group">
                <input name="Create" type="submit" value="Add Photo 1" class="btn btn-primary" />
                <input name="Create" type="submit" value="Delete Photo 1" class="btn btn-primary" />
                @if (Model.Picture1 != null)
                {
                    <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture1))" />
                }
            </div>
            <div class="form-group">
                <input name="Create" type="submit" value="Add Photo 2" class="btn btn-primary" />
                <input name="Create" type="submit" value="Delete Photo 2" class="btn btn-primary" />
                @if (Model.Picture2 != null)
                {
                    <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture2))" />
                }
            </div>
            <div class="form-group">
                <input name="Create" type="submit" value="Add Photo 3" class="btn btn-primary" />
                <input name="Create" type="submit" value="Delete Photo 3" class="btn btn-primary" />
                @if (Model.Picture3 != null)
                {
                    <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Picture3))" />
                }
            </div>
            <div class="form-group">
                <input name="Create" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
