@{
    ViewData["Title"] = "AcessServiceDirectly";
}
<head>
    <script type="text/javascript">
    </script>
</head>
<body >
        <div class="text-left">
            <h1 class="display-4"> Acess Service Directly</h1>
        </div>
        <ul class="CalcUl">
            <li>Rand Value First :<span class="First"></span> </li>
            <li>Rand Value Second :</li>
            <li>Add :</li>
            <li>  </li>
            <li>Sub :</li>
            <li>  </li>
            <li>Mult :</li>
            <li>  </li>
            <li>Div :</li>
            <li>  </li>
        </ul>
</body>

