@model AccountData
@{
    ViewData["Title"] = "Reset Your Password";
}

<div class="text-left">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form  method="post">
        <b>New Password:</b><br> 
        @Html.PasswordFor(model => model.Password) @Html.ValidationMessageFor(model => model.Password) @ViewData["Change"]
        <input type ="submit">
    </form>
</div>