<div class="text-left">
    <form runat="server" method="post">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <span>Text</span>
        <br>
        @Html.CheckBox("Text", false)
        <span>IsSelected</span>   
        <br>  
        <input type="submit" value="Submit" />
    </form>
</div>
