    <div class="text-left">
        <form method="post">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <nobr>Text</nobr>
            <br>
            @Html.TextArea("Text", null, new { @class = "form-control" })
            <input type="submit" value="Submit" />
        </form>
    </div>

